<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Basic</title>
</head>

<body>
  <div id="root">
    <ul>
      <li v-for="color in colors">
        {{ color }}
      </li>

      <ol>
        <li v-for="user in users">{{ user.name }} live in {{ user.address }}</li>
        <!--<li>
          {{ users[0].name }}
        </li>-->
      </ol>
    </ul>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    var root = new Vue({
      el: "#root", // element
      data: { // variable
        message: "Hello Vue!",
        colors: ['red', 'green', 'blue', 'yellow'],
        users: [
          {name: "Mg Mg", address: "Yangon"},
          {name: "Aye Aye", address: "Mandalay"},
          {name: "Aung Aung", address: "Nay Pyi Taw"},
        ]       
      }
    })
  </script>
</body>

</html>